<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrcu.iras.bi.globaloverview.mapper.KeyBusinessMonitoring.DepositMapper">
    <resultMap id="DepositResult" type="com.zjrcu.iras.bi.globaloverview.domain.model.KeyBusinessMonitoring.Deposit">
        <id property="id" column="id" />
        <result property="orgName" column="org_name" />
        <result property="dataDate" column="data_date"/>
        <result property="regionName" column="region_name" />
        <result property="depositAmount" column="deposit_amount"/>
        <result property="depositRate" column="deposit_rate"/>
        <result property="createTime" column="created_time"/>
        <result property="updateTime" column="updated_time"/>
    </resultMap>
    <select id="selectDeposit" resultMap="DepositResult">
        select * from deposit_data
        where
        region_name = #{globalOverviewRequestQO.regionName}
        <if test="globalOverviewRequestQO.startDate != null and globalOverviewRequestQO.startDate!= ''">
            AND data_date >= #{globalOverviewRequestQO.startDate}
        </if>
        <if test="globalOverviewRequestQO.endDate != null and globalOverviewRequestQO.endDate!= ''">
            AND data_date &lt;= #{globalOverviewRequestQO.endDate}
        </if>
        order by data_date  asc
    </select>
</mapper>