<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjrcu.iras.bi.platform.mapper.ConditionMappingMapper">
    
    <resultMap type="com.zjrcu.iras.bi.platform.domain.ConditionMapping" id="ConditionMappingResult">
        <result property="id"    column="id"    />
        <result property="conditionId"    column="condition_id"    />
        <result property="componentId"    column="component_id"    />
        <result property="tableName"    column="table_name"    />
        <result property="fieldName"    column="field_name"    />
        <result property="mappingType"    column="mapping_type"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectMappingVo">
        select id, condition_id, component_id, table_name, field_name, mapping_type, create_time
        from bi_condition_mapping
    </sql>

    <select id="selectMappingList" parameterType="com.zjrcu.iras.bi.platform.domain.ConditionMapping" resultMap="ConditionMappingResult">
        <include refid="selectMappingVo"/>
        <where>  
            <if test="conditionId != null">
                AND condition_id = #{conditionId}
            </if>
            <if test="componentId != null">
                AND component_id = #{componentId}
            </if>
            <if test="tableName != null and tableName != ''">
                AND table_name = #{tableName}
            </if>
            <if test="fieldName != null and fieldName != ''">
                AND field_name = #{fieldName}
            </if>
            <if test="mappingType != null and mappingType != ''">
                AND mapping_type = #{mappingType}
            </if>
        </where>
        order by create_time asc
    </select>
    
    <select id="selectMappingById" parameterType="Long" resultMap="ConditionMappingResult">
        <include refid="selectMappingVo"/>
        where id = #{id}
    </select>

    <select id="selectMappingByDashboardId" parameterType="Long" resultMap="ConditionMappingResult">
        select cm.id, cm.condition_id, cm.component_id, cm.table_name, cm.field_name, cm.mapping_type, cm.create_time
        from bi_condition_mapping cm
        inner join bi_dashboard_component dc on cm.component_id = dc.id
        where dc.dashboard_id = #{dashboardId}
        order by cm.create_time asc
    </select>

    <select id="selectMappingByConditionId" parameterType="Long" resultMap="ConditionMappingResult">
        <include refid="selectMappingVo"/>
        where condition_id = #{conditionId}
        order by create_time asc
    </select>

    <select id="selectMappingByComponentId" parameterType="Long" resultMap="ConditionMappingResult">
        <include refid="selectMappingVo"/>
        where component_id = #{componentId}
        order by create_time asc
    </select>
        
    <insert id="insertMapping" parameterType="com.zjrcu.iras.bi.platform.domain.ConditionMapping" useGeneratedKeys="true" keyProperty="id">
        insert into bi_condition_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="conditionId != null">condition_id,</if>
            <if test="componentId != null">component_id,</if>
            <if test="tableName != null and tableName != ''">table_name,</if>
            <if test="fieldName != null and fieldName != ''">field_name,</if>
            <if test="mappingType != null">mapping_type,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="conditionId != null">#{conditionId},</if>
            <if test="componentId != null">#{componentId},</if>
            <if test="tableName != null and tableName != ''">#{tableName},</if>
            <if test="fieldName != null and fieldName != ''">#{fieldName},</if>
            <if test="mappingType != null">#{mappingType},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateMapping" parameterType="com.zjrcu.iras.bi.platform.domain.ConditionMapping">
        update bi_condition_mapping
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">table_name = #{tableName},</if>
            <if test="fieldName != null and fieldName != ''">field_name = #{fieldName},</if>
            <if test="mappingType != null">mapping_type = #{mappingType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMappingById" parameterType="Long">
        delete from bi_condition_mapping where id = #{id}
    </delete>

    <delete id="deleteMappingByIds" parameterType="Long">
        delete from bi_condition_mapping where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteMappingByDashboardId" parameterType="Long">
        delete from bi_condition_mapping
        where component_id in (
            select id from bi_dashboard_component where dashboard_id = #{dashboardId}
        )
    </delete>

    <delete id="deleteMappingByConditionId" parameterType="Long">
        delete from bi_condition_mapping where condition_id = #{conditionId}
    </delete>

    <delete id="deleteMappingByComponentId" parameterType="Long">
        delete from bi_condition_mapping where component_id = #{componentId}
    </delete>

    <insert id="batchInsertMappings" parameterType="java.util.List">
        insert into bi_condition_mapping (condition_id, component_id, table_name, field_name, mapping_type, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.conditionId}, #{item.componentId}, #{item.tableName}, #{item.fieldName}, #{item.mappingType}, sysdate())
        </foreach>
    </insert>
</mapper>
